/.kateproject.d/notes.txt
/.kateproject
/.directory
Makefile*
*~
bin
build
*kde*
Doxy*
qgit4.tag
Debug/
Release/
*.ncb
*.suo
*.vcproj.*
moc_*.cpp
qrc_*.cpp
ui_*.h
qgit.pro.*
qgit.qbs.*
src/release

# qmake stuff
.qmake.stash
src/qmake
src/qmake.Debug
src/qmake.Release

# Meson build directory
__build__/

# macOS service file
.DS_Store
